<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img class="champ" src="assets/champions/TFT5_{{champion.name}}.png" alt="">
    </div>
    <div class="row">
      <mat-card-title>{{champion.name}}</mat-card-title>
      <div class="but">
        <button (click)="deleteChampion(champion.id)"><mat-icon>delete</mat-icon></button>
        <button (click)="deleteChampion(champion.id)"><mat-icon>edit</mat-icon></button>
      </div>
    </div>
    <mat-card-subtitle>{{champion.cost}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
