.example-card {
  width: 30%;
  margin: 30px auto;
  background-color: white;
  color: purple;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
}

.example-header-image {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-size: cover;
}

button{
  border: none;
  background-color: transparent;
}
.mat-card-content{
  align-items: flex-end;
}
.mat-icon{
  color: purple;
}
