
<section id="register">
  <div>
    <div class="register-card">
      <h1 class="register-title">Register</h1>
      <div class="container">
        <form>
          <div class="row">
            <div class="register">
              <div class="row">
                <div class="register">
                  <label>Name</label>
                  <input placeholder="Write your name" [(ngModel)]="signUpDto.name" name="name">
                </div>
                <div class="register">
                  <label>Last name</label>
                  <input placeholder="Write your surname" [(ngModel)]="signUpDto.lastName" name="lastName">
                </div>
              </div>
              <div class="row">
                <div class="register">
                  <label>Nick</label>
                  <input placeholder="Write your nick" [(ngModel)]="signUpDto.nick" name="username">
                </div>
                <div class="register">
                  <label>City</label>
                  <input placeholder="Write your city" [(ngModel)]="signUpDto.city" name="city">
                </div>
              </div>
            </div>
          </div>
          <div class="register">
            <label>Email</label>
            <input placeholder="Write your email" [(ngModel)]="signUpDto.email" name="email">
          </div>
          <div class="row">
            <div class="register">
              <label>Password</label>
              <input placeholder="Write your password" [(ngModel)]="signUpDto.password" name="password">
            </div>
            <div class="register">
              <label>Repeat password</label>
              <input placeholder="Write your password" [(ngModel)]="signUpDto.password2" name="password2">
            </div>
          </div>
          <div class="row">
            <div class="register">
              <label>File</label>
              <input type="file" [(ngModel)]="signUpDto.file" name="avatar" class="input-file"
              (change)="readUrl($event)">
            </div>
            <img class="img-selected" *ngIf="url != null" [src]="url">
          </div>
          <div class="button-btn">
              <button class="btn" type="submit"  mat-button (click)="doSignUp()">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
