<section id="login">
  <div>
    <div class="login-card">
      <h1 class="login-title">Login</h1>
      <div class="container">
        <form>
          <div class="login">
              <label>Email</label>
              <input [(ngModel)]="loginDto.email" name="email" required="required">
          </div>
          <div class="login">
            <label>Enter your password</label>
            <div>
              <input [(ngModel)]="loginDto.password" name="password" required="required" [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </div>
          </div>
          <div class="button-btn">
              <button class="btn" type="submit"  mat-button (click)="doLogin()">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
