.example-card {
  width: 20%;
  min-width: 500px;
  margin: 30px auto;
  background-color: white;
  color: purple;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
}
.example-header-image {
  width: 150px;
  min-width: 150px;
  height: fit-content;
  border-radius: 30px;
  background-size: cover;
}
button{
  border: none;
  background-color: transparent;
}
.mat-card-content{
  align-items: flex-end;
}
.mat-icon, .mat-card-subtitle, .mat-card-title{
  padding-left: 10px;
  color: purple;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.example-header-image img{
  height: 150px;
}
.content{
  width: 60%;
}
